.lt_sort {
  height: 30px;
  background-color: #eee;
}
.lt_sort ul {
  display: flex;
}
.lt_sort ul li {
  flex: 1;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
.lt_sort ul li a {
  color: #666;
}
.lt_sort ul li.active a {
  color: orange;
}
.lt_search {
  padding: 10px;
  position: relative;
  height: 41px;
}
.lt_search input {
  height: 34px;
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 14px;
  padding-left: 20px;
  border: 1px solid #007AFF;
}
.lt_search button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 3px 3px 0;
}
.product {
  padding: 10px;
  overflow: hidden;
}
.product-item {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.product-item:nth-child(odd) {
  margin-right: 4%;
}
.product-item .good_name {
  height: 40px;
}
.product-item .good_price span:first-child {
  color: red;
}
.product-item .good_price span:last-child {
  text-decoration: line-through;
}
.loading {
  width: 40px;
  height: 40px;
  border: 3px solid #369;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
